/* Heading */
.heading {
    width: 90%;
    font-size: 2rem;
    margin-top: 20px;
    padding: 30px 0;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    padding: 12px;
    text-align: center;
    margin: 5px;
   } 
  /* Timer*/ 
   #timer {
    padding: 12px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.2rem;
    margin: 5px;
    width: 90%;
    background-color: white;
   }
   

/* Logo */
.logo {
    height: 40px;
    padding-right: 5px;
}
#inputForm{
    padding: 12px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.2rem;
    margin: 5px;
    width: 90%;
    background-color: white;
}
#board {
    height: 532px;
    width: 475px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    border: 10px solid lightgrey;
}

.card {
    height: 128px;
    width: 90px;
    margin: 2.5px;
}

/* Footer */
footer {
    background-color: #c8c9ce;
}

#social-network {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding: 1.2rem 0;
    list-style: none;
}

#social-network i {
    font-size: 160%;
    padding: 5%;
    color: #05386f;
}

/*social media icon hover actions*/
#social-network i:hover {
    transform: scale(1.5);
    transition: all 0.2s ease-in-out;
}


/*social media icon hover actions*/
#social-network i:hover {
    transform: scale(1.5);
    transition: all 0.2s ease-in-out;
}